html {
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwbOeganYyNO-QKesd2iyYhDhwdB4nBxriw6MMttQyF34XNWKC")
}

body {
    height: 100%;
    
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header {
    display:flex;
    justify-content: center;
    color: white;
    font-size: larger;
}